body {
    margin: 0%;
    background-color: #141414;
}

p {
    font-family: 'Hind', sans-serif;
}

h1 {
    font-family: 'Hind', sans-serif;
    font-weight: 900;
}

i {
    color: antiquewhite;
    padding: 10px;
}

/*BOTONES*/

.btnCollection {
    display: flex;
    align-items: center;
}

.playBtn {
    background-color: antiquewhite;
    display: flex;
    border: none;
    align-items: center;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2.4rem;
    margin-right: 1rem;
}

.playBtn > i {
    color: #141414;
    height: 100%;
    padding-left: 0px;
    padding-right: 10px;
}

.playBtn > p {
    margin: 0px;
}

.playBtn:hover {
    background-color: rgba(250, 235, 215, 0.627);
}

.infoBtn {
    background-color: #4b4b4b89;
    display: flex;
    border: none;
    align-items: center;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
}

.infoBtn > i {
    color: antiquewhite;
    height: 100%;
    padding-left: 0px;
    padding-right: 10px;
}

.infoBtn > p {
    color: antiquewhite;
    margin: 0px;
}

.infoBtn:hover {
    background-color: #2d2d2d86;
}

/*GRADIENT*/

.gradient {
    position: absolute;
    bottom: 0;
    height: 10rem;
    width: 100%;
    background: rgb(20, 20, 20);
    background: linear-gradient(1deg, rgb(20, 20, 20) 40%, rgba(20, 20, 20, 0.837) 
60%, rgba(20, 20, 20, 0) 90%, rgba(255, 255, 255, 0) 100%);
}

.gradientUp {
    position: absolute;
    top: 0%;
    height: 25%;
    width: 100%;
    background: rgb(20, 20, 20);
    background: linear-gradient(1deg, rgb(20, 20, 20) 40%, rgba(20, 20, 20, 0.837) 
60%, rgba(20, 20, 20, 0) 90%, rgba(255, 255, 255, 0) 100%);
}

.gradientDown {
    position: absolute;
    bottom: 0;
    height: 25%;
    width: 100%;
    background: rgb(20, 20, 20);
    background: linear-gradient(180deg, rgb(20, 20, 20) 40%, rgba(20, 20, 20, 0.837) 
60%, rgba(20, 20, 20, 0) 90%, rgba(255, 255, 255, 0) 100%);
}

/*NAVBAR*/

#navbaritems { 
    position: fixed;
    top: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #141414;
    height: 68px;
}

#left, #right {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navWord {
    color: antiquewhite;
    padding: 0.6rem;
}

.navWord > p:hover {
    color: #5f5f5f;
}

#left {
    padding-left: 3%;
}

#right {
    padding-right: 3%;
}

#left > img {
    height: 80%;
    padding: 10px;
}

#right > img {
    border-radius: 25%;
    height: 32px;
    padding: 10px;
}

/*BILLBOARD*/

#billboard {
    position: relative;
    /* z-index: -1; */
}

#billboardInfo {
    position: absolute;
    bottom: 35%;
    left: 4%;
    width: 36%;
}

#billImg {
    width: 100%;
}

/*MAIN*/

main {
    background-color: #141414;
}

.carouselContainer {
    height: 100%;
}

.poster {
    height: 60px;
}

/*MOVIE PAGE*/

#moviePage {
    visibility: hidden;
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    background-color: #14141436;
}

#moviePageInt {
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 0%;
    left: 0%;
    background-color: #141414;
}

.close {
    position: absolute;
    height: 20%;
    left: 10%;
}