body {
    margin: 0%;
    background-color: #141414;
}

p {
    font-family: 'Hind', sans-serif;
}

h1 {
    font-family: 'Hind', sans-serif;
    font-weight: 900;
}

h2 {
    font-family: 'Hind', sans-serif;
    font-weight: 900;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    color: antiquewhite;
}

i {
    color: antiquewhite;
    padding: 10px;
    font-size: large;
}

/*BOTONES*/

.btnCollection {
    display: flex;
    align-items: center;
}

.playBtn {
    background-color: antiquewhite;
    display: flex;
    border: none;
    align-items: center;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2.4rem;
    margin-right: 1rem;
}

.playBtn > i {
    color: #141414;
    height: 100%;
    padding-left: 0px;
    padding-right: 10px;
}

.playBtn > p {
    margin: 0px;
}

.playBtn:hover {
    background-color: rgba(250, 235, 215, 0.627);
}

.infoBtn {
    background-color: #4b4b4b89;
    display: flex;
    border: none;
    align-items: center;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
}

.infoBtn > i {
    color: antiquewhite;
    height: 100%;
    padding-left: 0px;
    padding-right: 10px;
}

.infoBtn > p {
    color: antiquewhite;
    margin: 0px;
}

.infoBtn:hover {
    background-color: #2d2d2d86;
}

/*GRADIENT*/

.gradient {
    position: absolute;
    bottom: 0;
    height: 10rem;
    width: 100%;
    background: rgb(20, 20, 20);
    background: linear-gradient(1deg, rgb(20, 20, 20) 40%, rgba(20, 20, 20, 0.837) 
60%, rgba(20, 20, 20, 0) 90%, rgba(255, 255, 255, 0) 100%);
}

.gradientUp {
    position: absolute;
    top: 0%;
    height: 25%;
    width: 100%;
    background: rgb(20, 20, 20);
    background: linear-gradient(1deg, rgb(20, 20, 20) 40%, rgba(20, 20, 20, 0.837) 
60%, rgba(20, 20, 20, 0) 90%, rgba(255, 255, 255, 0) 100%);
}

.gradientDown {
    position: absolute;
    bottom: 0;
    height: 25%;
    width: 100%;
    background: rgb(20, 20, 20);
    background: linear-gradient(180deg, rgb(20, 20, 20) 40%, rgba(20, 20, 20, 0.837) 
60%, rgba(20, 20, 20, 0) 90%, rgba(255, 255, 255, 0) 100%);
}

/*NAVBAR*/

#navbaritems { 
    position: fixed;
    top: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #141414;
    height: 68px;
    z-index: 800;
}

#left, #right {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navWord, .navWordSearch {
    color: antiquewhite;
    padding: 0.6rem;
}

.navWord > p:hover {
    color: #5f5f5f;
}

#left {
    padding-left: 3%;
}

#right {
    padding-right: 3%;
}

#left > img {
    height: 80%;
    padding: 10px;
}

#right > img {
    border-radius: 25%;
    height: 32px;
    padding: 10px;
}

/* SEARCH AND SEARCH PAGE */

#searchInput {
    background-color: #39393999;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Hind', sans-serif;
}

#searchInput:focus {
    background-color: #727272a8;
}

#searchPage {
    visibility: hidden;
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    background-color: #14141436;
    z-index: 10;
}

#searchPageBackground {
    background-color: #141414;
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 0%;
    left: 0%;
    display: block;
}

#searchPageInt {
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 0%;
    left: 0%;
    display: block;
}

#searchPageInt > .close {
    height: 40%;
}

#searchPageInt > #searchPageText, #searchPageInt > .close {
    display: flex;
    align-items: center;
    flex-direction: column;
} 

#searchPageText > h2 {
    font-family: 'Hind', sans-serif;
    font-weight: 900;
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
}

/*BILLBOARD*/

#billboard {
    position: relative;
    z-index: -1;
}

#billboardTitle {
    font-family: 'Hind', sans-serif;
    color: antiquewhite;
    font-size: 2.5rem;
}

#billboardDesc {
    color: antiquewhite;
}

#billboardInfo {
    position: absolute;
    bottom: 35%;
    left: 4%;
    width: 36%;
}

#billImg {
    width: 100%;
}

/*MAIN*/

main {
    background-color: #141414;
}

/* CAROUSEL  */

.containerSlidesPrincipal {
    display: flex;
	align-items: center;
	position: relative;
}

.leftArrow, .rightArrow {
    position: absolute;
	border: none;
    background: linear-gradient(360deg, rgba(20,20,20,0.4489146000196954) 
    0%, rgba(20,20,20,0.75) 20%, rgba(20,20,20,0.8) 50%, 
    rgba(20,20,20,0.75) 80%, rgba(20,20,20,0.45) 100%);
	font-size: 40px;
	height: calc(100% - 38px);
	line-height: 40px;
	width: 5%;
	color: #fff;
	cursor: pointer;
    padding: 20px, 0;
    z-index: 1;
}

.leftArrow > i, .rightArrow > i {
    padding: 0;
}

.leftArrow {
    left: 0;
}

.rightArrow {
    right: 0;
}

.carouselContainer {    
    width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.carousel {
    display: flex;
	flex-wrap: nowrap;
}

.movie {
    min-width: 20%;
}

.movie:hover {
    transform: scale(1.2);
	transform-origin: center;
    filter: drop-shadow(0 0 10px #000000e9);
}

.poster {
    width: 100%;
    vertical-align: top;
}

/*MOVIE PAGE*/

#moviePage {
    visibility: hidden;
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    background-color: #14141436;
    z-index: 10;
}

#moviePageBackgroundColor {
    background-color: #141414;
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 0%;
    left: 0%;
}

#moviePageInt {
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 0%;
    left: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-size: 60%;
}

.close {
    height: 15%;
}

.closeImg {
    height: 100%;
}

#moviePageImg {
    height: 100%;
}

#moviePageIntInfo {
    position: absolute;
    display: block;
    left: 0;
    left: 5%;
    height: 100%;
    width: 50%;
    z-index: 10;
    background: linear-gradient(90deg, rgba(20,20,20,1) 70%, rgba(20,20,20,0.9363095580028886) 75%, rgba(20,20,20,0.7598389697675946) 85%, 
    rgba(20,20,20,0.4489146000196954) 95%, rgba(20,20,20,0) 100%);
}

#moviePageIntInfo > * {
    color: antiquewhite;
}

#moviePageTitle {
    width: 70%;
}

#moviePageDes {
    width: 90%;
}

/* #moviePageImg > img {
    position: absolute;
    right: 0;
    width: 60%;
} */

/* ACTOR PAGE */

#actorPage{
    visibility: hidden;
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    background-color: #14141436;
    z-index: 10;
}

#actorPage > .gradientDown {
    height: 15%;
}

#actorPage > .gradientUp {
    height: 15%;
}

.castMember:hover {
    color: #E50914;
}

#actorPageInt {
    display: block;
    position: absolute;
    top: 15%;
    bottom: 15%;
    right: 0%;
    left: 0%;
    background-color: #141414;
}

#actorPageInt > .close {
    margin-left: 5%;
}

/* #apmContainer {
    padding: 0, 5%, 0, 5%;
} */

#actorPageMovies {
    display: flex;
    padding: 2rem;
}

.movieActor {
    width: 20%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0.625rem;
}

.posterActor {
    width: 100%;
    object-fit: cover;
}

.movieActor:hover {
    transform: scale(1.2);
	transform-origin: center;
    filter: drop-shadow(0 0 10px #000000e9);
    z-index: 1;
}